@import url('https://fonts.googleapis.com/css2?family=Hahmlet&family=Old+Standard+TT&family=Sora:wght@300;400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Hahmlet&family=Old+Standard+TT&family=Poppins:wght@100;200;300;400;500;600;700;800;900&family=Sora:wght@300;400;500;600;700&display=swap');

/* Common Syles */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style-type: none;
    outline: none;
    font-family: 'Sora', sans-serif;
}

html {
    font-size: 65%;
    scroll-behavior: smooth;
}

.center {
    display: flex;
    justify-content: center;
    align-items: center;
}


/* Main Button 
   This buttom is about Contact in About Me Section 
*/

.main-btn {
    position: absolute;
    bottom: 13rem;
    width: 13rem;
    height: 13rem;
    background-color: #4b3e0a;
    border-radius: 50%;
    border: 0.2rem dotted #fff;
    padding: .1rem;
    overflow: hidden;
}

.main-btn-content {
    width: 100%;
    height: 100%;
    border: 0.2rem dotted #e7be08;
    border-radius: 60%;
    transform: rotate(40deg);
    transition: transform .2s, border .2s;
}

.main-btn:hover .main-btn-content {
    transform: rotate(60deg);
    border: 2rem dotted #e7be08 transition;
    transform: .2s .5s border .2s;
}

.main-btn-line {
    position: absolute;
    top: 4rem;
    width: 3rem;
    height: .5rem;
    border: .1rem solid #fff;
}


/* Create a arrow */

.main-btn-line:nth-child(1) {
    transform: rotateZ(-45deg) translateX(-.70rem);
    transform-origin: left center;
    border-right: none;
}

.main-btn-line:nth-child(2) {
    transform: rotateZ(45deg) translateX(.70rem);
    transform-origin: right center;
    border-left: none;
}

.main-btn-line:nth-child(3) {
    transform: rotateZ(90deg) translateX(.5rem);
    border-left: none;
}

.main-btn span {
    position: absolute;
    bottom: 4rem;
    color: aqua;
    font-size: 1.1rem;
    font-weight: 600;
    text-transform: uppercase;
}

.ripple {
    position: absolute;
    width: 0;
    height: 0;
    background-color: #9b0e0e;
    border-radius: 60%;
    transform: translate(-50%, -50%);
    animation: rippleAnim .5s forwards;
}

@keyframes rippleAnim {
    0% {
        width: 0;
        height: 0;
    }
    100% {
        width: 210%;
        height: 210%;
    }
}


/* Section Heading */

.section-heading {
    font-size: 2rem;
    font-weight: 300;
    color: bisque;
    text-transform: uppercase;
    position: absolute;
    top: 30%;
    left: 10rem;
    transform: translate(-50%);
    width: 0;
    word-break: break-all;
    line-height: 4;
}


/*  Mouse Circle */

.mouse-circle,
.mouse-dot {
    border-radius: 50%;
    position: fixed;
    z-index: 300;
    transform: translate(-50%, -50%);
    opacity: 0;
    pointer-events: none;
}

.mouse-circle {
    width: 6rem;
    height: 6rem;
    border: .1rem solid #c7a622;
    animation: mouseCircleAnim 10s infinite linear;
}

@keyframes mouseCircleAnim {
    0% {
        width: 6rem;
        height: 6rem;
    }
    25% {
        width: 8rem;
        height: 8rem;
    }
    45% {
        width: 2rem;
        height: 2rem;
    }
    82% {
        width: 10rem;
        height: 10rem;
    }
    100% {
        width: 6rem;
        height: 6rem;
    }
}


/* Mouse Dot */

.mouse-dot {
    height: .5rem;
    width: .5rem;
    background-color: #4b3e0a;
    animation: mouseDotAnim 8s infinite linear;
}

@keyframes mouseDotAnim {
    0% {
        width: .5rem;
        height: .5rem;
    }
    55% {
        width: 1.5rem;
        height: 1.5rem;
    }
    100% {
        width: .5rem;
        height: .5rem;
    }
}


/* Page BG */

.page-bg {
    position: fixed;
    width: 100%;
    height: 100vh;
    background: linear-gradient(rgba(0, 0, 0, .7), rgba(0, 0, 0, .7)), url(images/background.jpg) center no-repeat;
    background-size: cover;
}


/* Circle of Progress*/

.progress-bar {
    position: fixed;
    bottom: 8rem;
    right: 12rem;
    width: 8rem;
    height: 8rem;
    background-color: #fff;
    border-radius: 50%;
    z-index: 200;
    overflow: hidden;
    transform: translate(-50%, -50%);
}

.half-circle,
.half-circle-top {
    position: absolute;
    top: 0;
    left: 0;
    width: 50%;
    height: 100%;
    transform-origin: right center;
    pointer-events: none;
}

.half-circle:nth-child(1) {
    background-color: #b60000;
}

.half-circle:nth-child(2) {
    background-color: #b60000;
}

.half-circle-top {
    background-color: #fff;
}

.progress-bar-circle {
    width: 7.3rem;
    height: 7.3rem;
    background-color: #000;
    border-radius: 50%;
    color: #fff;
    font-size: 5rem;
    z-index: 200;
    transition: transform 0.5s;
    pointer-events: none;
}


/* Navigation */


/* Menu Icon */

.menu-icon {
    position: fixed;
    top: 3.5rem;
    right: 0;
    width: 12rem;
    height: 7rem;
    flex-direction: column;
    opacity: 0;
    visibility: hidden;
    z-index: 100;
    cursor: pointer;
    transform: translate(-50%, -50%);
    transition: opacity 0.2s;
}

.menu-icon-line {
    width: 4rem;
    height: 0.1rem;
    background-color: #fff;
    margin: .5rem 0;
    box-shadow: 0 .3rem .5rem #000;
}

.show-menu-icon {
    opacity: 1;
    visibility: visible;
}


/* Navbar */

.navbar {
    position: fixed;
    top: 2.5rem;
    width: 100%;
    display: flex;
    justify-content: flex-end;
    padding-right: 3rem;
    z-index: 100;
    transition: opacity 0.5s, visibility 0.5s, transform 0.5s;
}

.navbar-link {
    font-size: 1.5rem;
    font-weight: 00;
    text-transform: uppercase;
    color: #fff;
    margin: 0 2.5rem;
    text-shadow: 0 0.3rem 0.5rem #000;
}

.hide-navbar {
    opacity: 0;
    visibility: hidden;
    transform: translateX(10rem);
}


/* Seciton 1 */

.section-1 {
    position: relative;
    width: 100%;
    height: 100vh;
}


/* Logo */

.logo {
    position: relative;
    top: 0rem;
    left: 3rem;
    font-size: 2rem;
    text-transform: uppercase;
    color: whitesmoke;
}


/* Animated Circle */

.cricles {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
}

.circle {
    width: 22rem;
    height: 22rem;
    border-radius: 50%;
    background-color: slateblue;
    align-self: center;
    justify-self: center;
    top: 0;
    left: 0;
    opacity: 0.6;
    position: relative;
    transition: left 2s, top 2s;
}

.circle-1 {
    background: url(images/landing/circle-1-img.jpg) center no-repeat;
    background-size: cover;
    background-clip: content-box;
    border: .5rem dotted #c7a622;
    margin-left: -10rem;
}

.circle-2 {
    background: url(images/landing/circle-2-img.jpg) center no-repeat;
    background-size: cover;
    background-clip: content-box;
    border: .5rem dashed #9b0e0e;
}

.circle-3 {
    background: url(images/landing/circle-3-img.jpg) center no-repeat;
    background-size: cover;
    background-clip: content-box;
    border: 1rem double #9b0e0e;
}

.circle-4 {
    background: url(images/landing/circle-4-img.jpg) center no-repeat;
    background-size: cover;
    background-clip: content-box;
    border: 1.1rem double #fff;
    margin-right: -10rem;
}

.main-circle {
    width: 55rem;
    height: 55rem;
    position: absolute;
    overflow: hidden;
    border-radius: 50%;
    transition: width 0.2s, height 0.2s;
}

.main-circle:hover {
    width: 75rem;
    height: 75rem;
}

.main-circle img {
    mix-blend-mode: lighten;
    position: relative;
    transition: left 2s, top 2s;
    top: 0;
    left: 0;
}


/* Seciton 2 */


/* Featured Text */

.featured-text {
    font-size: 2rem;
    color: #fff;
    text-transform: uppercase;
    width: 0;
    word-wrap: break-word;
    line-height: 3.5;
    position: sticky;
    top: 0;
}

.featured-text-1 {
    margin: 0 auto 0 10rem;
}

.featured-text-2 {
    margin: 0 10rem 0 auto;
}


/* Main Button */

.main-btn {
    position: absolute;
    bottom: 3rem;
    width: 13rem;
    height: 13rem;
    background-color: #000;
    border-radius: 50%;
    border: 0.2rem dotted #fff;
    padding: .1rem;
    overflow: hidden;
}

.main-btn-content {
    width: 100%;
    height: 100%;
    border: 0.2rem dotted #e7be08;
    border-radius: 60%;
    transform: rotate(40deg);
    transition: transform .2s, border .2s;
}

.main-btn:hover .main-btn-content {
    transform: rotate(60deg);
    border: 2rem dotted #e7be08 transition;
    transform: .2s .5s border .2s;
}

.main-btn-line {
    position: absolute;
    top: 4rem;
    width: 3rem;
    height: .5rem;
    border: .1rem solid #fff;
}


/* Create a arrow */

.main-btn-line:nth-child(1) {
    transform: rotateZ(-45deg) translateX(-.70rem);
    transform-origin: left center;
    border-right: none;
}

.main-btn-line:nth-child(2) {
    transform: rotateZ(45deg) translateX(.70rem);
    transform-origin: right center;
    border-left: none;
}

.main-btn-line:nth-child(3) {
    transform: rotateZ(90deg) translateX(.5rem);
    border-left: none;
}

.main-btn span {
    position: absolute;
    bottom: 4rem;
    color: aqua;
    font-size: 1.1rem;
    font-weight: 600;
    text-transform: uppercase;
}

.ripple {
    position: absolute;
    width: 0;
    height: 0;
    background-color: #9b0e0e;
    border-radius: 60%;
    transform: translate(-50%, -50%);
    animation: rippleAnim .5s forwards;
}

@keyframes rippleAnim {
    0% {
        width: 0;
        height: 0;
    }
    100% {
        width: 210%;
        height: 210%;
    }
}


/* Section 2 */

.section-2 {
    position: relative;
    padding: 10rem 10rem 15rem 10rem;
}


/* About me TEXT */

.about-me-text {
    width: 75%;
    margin: auto;
}

.about-me-text span {
    font-family: "Sora", sans-serif;
    font-size: 13rem;
    font-weight: bold;
    color: #9b0e0e;
    letter-spacing: .7rem;
    line-height: 1;
    text-shadow: 0 0 1rem #e7be08;
    position: relative;
    mix-blend-mode: color-dodge;
}

@keyframes aboutMeTextAnim {
    0% {
        color: #fff;
        top: 0;
    }
    10%,
    90% {
        color: aliceblue;
        top: 2rem;
    }
    100% {
        color: beige;
        top: 0;
    }
}


/* Section 2 Main Button */

.section-2 .main-btn {
    left: 50%;
    bottom: -4rem;
    transform: translate(-50%);
}


/* Secttion 3 My projects */

.section-3 {
    width: 100%;
    height: 100%;
    /* Fixing the problem where there is no animation when
     I hover the mouse from the bottom
     Changing from 20 0 10rem 0 to 10rem 0
     and add margin-top: 10rem */
    padding: 10rem 0 10rem 0;
    position: relative;
    margin-top: 10rem;
}


/* Projects */

.projects {
    flex-wrap: wrap;
    padding-bottom: 20rem;
}

.project {
    width: 35rem;
    height: 40rem;
    overflow: hidden;
    margin: 5rem;
    background-color: #9b0e0e;
    display: flex;
    justify-content: center;
    position: relative;
    border: 0.3rem dotted #e7be08;
    border-radius: 0.5rem;
    cursor: pointer;
    perspective: 20rem;
    transition: opacity 0.5s;
}

.project img {
    width: 80%;
    object-fit: cover;
    position: absolute;
    top: 2rem;
    opacity: .6;
    transition: top 4s .2s, opacity .2s;
}

.project:nth-child(odd):hover img {
    animation: oddImgAnim 4s 0.2s;
}

@keyframes oddImgAnim {
    0% {
        transform: rotateY(0);
    }
    25% {
        transform: rotateY(-2deg) rotateX(2deg);
    }
    50% {
        transform: rotateY(2deg) rotateX(-2deg);
    }
    100% {
        transform: rotateY(0);
    }
}

.project:nth-child(even):hover img {
    animation: evenImgAnim 4s 0.2s;
    opacity: 1;
}

@keyframes evenImgAnim {
    0% {
        transform: rotateY(0);
    }
    25% {
        transform: rotateY(2deg) rotateX(-2deg);
    }
    50% {
        transform: rotateY(-2deg) rotateX(2deg);
    }
    100% {
        transform: rotateY(0);
    }
}


/* Big Project Image */

.project-img-wrapper {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 0;
    background-color: rgba(0, 0, 0, .8);
    animation: imgWrapperAnim 1s forwards;
    z-index: 100;
    scroll-behavior: smooth;
    overflow: hidden scroll;
}

@keyframes imgWrapperAnim {
    0% {
        height: 0;
    }
    100% {
        height: 100%;
    }
}

.project-img {
    width: 100%;
    border-radius: .5rem;
    padding: 7rem 15rem;
    opacity: .8;
    display: block;
    transform-origin: top center;
    animation: imgAnim 1s 1s both;
}

@keyframes imgAnim {
    0% {
        transform: scale(0);
    }
    100% {
        transform: scale(1);
    }
}


/* Hidden Button Project */

.project-hide-btn {
    position: fixed;
    top: 6rem;
    right: 6rem;
    background-color: transparent;
    border: none;
    color: antiquewhite;
    font-size: 3rem;
    letter-spacing: .2rem;
    cursor: pointer;
    z-index: 200;
    transform: scale(0);
    visibility: hidden;
}

.change.project-hide-btn {
    transform: scale(1);
    visibility: visible;
    transition: transform .3s;
}


/* Show More Buttom Porject*/

.projects-btn {
    left: 50%;
    transform: translateX(-50%);
}

.project-btn .main-btn-line {
    transition: all 0.5s;
}

.change>.main-btn-line:nth-child(1) {
    transform: rotateZ(45deg) translateX(-.65rem);
}

.change>.main-btn-line:nth-child(2) {
    transform: rotateZ(-45deg) translateX(.65rem);
}

.change>.main-btn-line:nth-child(3) {
    transform: rotateZ(90deg) translateX(-.5rem);
    border-left: .1rem solid #fff;
    border-right: none;
}


/* Section 4 */

.section-4 {
    position: relative;
    width: 100%;
}


/* Services */

.services-wrapper {
    width: 100%;
    flex-direction: column;
}

.service {
    width: 70%;
    margin: 2rem 0;
    border-bottom: .5rem solid #c7a622;
}

.service-btn {
    width: 100%;
    position: relative;
    display: block;
    height: 14rem;
}

.service-btn span {
    font-family: "Hahmlet", sans-serif;
    font-size: 5rem;
    font-style: italic;
    font-weight: bold;
    color: #e7be08;
    position: absolute;
    right: 0;
    transition: right .5s;
}

.service-text {
    font-size: 2rem;
    color: #fff;
    letter-spacing: 0.1rem;
    height: 0;
    visibility: hidden;
    opacity: 0;
    transition: all .2s;
}

.change.service-text {
    height: 15rem;
    visibility: visible;
    opacity: 1;
    transition: height .5s, opcity .5s .5s;
}

.service-img {
    margin: auto 5px;
    float: right;
    opacity: 1;
    width: 150px;
    height: 100px;
    transition: all .2s;
}


/* Section 5 */

.section-5 {
    position: relative;
    height: 100%vh;
    flex-direction: column;
}


/* Form */

.form-heading {
    font-family: "Sora", sans-serif;
    font-size: 5rem;
    font-weight: 400;
    color: #e7be08;
    letter-spacing: .3rem;
    margin-bottom: 3rem;
    transition: opacity .4s;
}

.contact-form {
    flex-direction: column;
}

.contact-form-input {
    width: 50rem;
    padding: .6rem;
    margin: 1rem 0;
    background-color: rgba(255, 255, 2555, .1);
    border: .1rem solid #4b3e0a;
    font-size: 2rem;
    font-weight: bold;
    color: #aaa;
    letter-spacing: .1rem;
    height: 6rem;
}

.contact-form-textarea {
    height: 30rem;
    resize: none;
}

.form-submit-btn {
    width: 20rem;
    height: 5rem;
    background-color: #9b0e0e;
    border: none;
    align-self: flex-start;
    font-size: 1.8rem;
    color: #000;
}


/* Form Validation */

.message {
    font-size: 1.2rem;
    font-weight: 700;
    color: #b60000;
    text-transform: uppercase;
    letter-spacing: .1rem;
    margin: 0 auto 1rem 0;
    visibility: hidden;
    opacity: 0;
    transition: opacity .3s;
}

.error.message {
    visibility: visible;
    opacity: 1;
}


/* SlideShow */

.slideshow {
    display: flex;
    width: 50rem;
    margin-top: 12rem;
    padding: 0 2rem;
}

.slideshow-link {
    width: 20%;
    filter: brightness(.5);
    transition: filter 1.5s;
}

.slideshow-link:nth-child(1),
.slideshow-link:nth-child(5) {
    transition: width .5s, opacity .5s;
}

.slideshow-link:nth-child(3) {
    transition: filter .5s;
}

.slideshow-link img {
    width: 100%;
    padding: 0 1rem;
}

.faded-out {
    opacity: 0;
    width: 0;
}

.light {
    filter: brightness(1.7);
}


/* Responsive */

@media(max-width: 1500px) {
    .circle {
        width: 15rem;
        height: 15rem;
    }
    .main-circle {
        width: 45rem;
        height: 45rem;
    }
    .main-circle:hover {
        width: 55rem;
        height: 55rem;
    }
    .main-circle img {
        width: 160%;
        height: 160%;
    }
    .about-me-text span {
        font-size: 11rem;
    }
    .section-4 {
        margin-bottom: 10rem;
    }
    .service-btn span {
        font-size: 9rem;
    }
    .service-text {
        font-size: 4rem;
    }
}

@media(max-width: 1350px) {
    .main-btn {
        width: 13rem;
        height: 13rem;
    }
    .circle {
        display: none;
    }
    .progress-bar {
        right: 1rem;
        bottom: 0;
    }
    .about-me-text span {
        font-size: 10rem;
    }
}

@media(max-width: 1150px) {
    html {
        font-size: 55%;
    }
    .mouse-circle,
    .mouse-dot {
        display: none;
    }
    .navbar-link {
        margin: 0 2rem;
    }
    .main-circle {
        height: 35rem;
        width: 35rem;
    }
    .main-circle:hover {
        height: 40rem;
        width: 40rem;
    }
    .about-me-text span {
        font-size: 7.5rem;
    }
    .project-img {
        padding: 7rem 11rem;
    }
    .project-hide-btn {
        right: 2rem;
    }
    .service-btn {
        height: 12rem;
    }
    .service-btn span {
        font-size: 7rem;
    }
    .service-text {
        font-size: 4rem;
    }
    .slideshow {
        margin: 5rem 0;
    }
}

@media(max-width: 880px) {
    .menu-icon {
        right: -4rem;
    }
    .navbar-link {
        font-size: 2rem;
        margin: 0 1rem;
    }
    .featured-text-1 {
        margin: 0 auto 0 5rem;
    }
    .featured-text-2 {
        margin: 0 5rem 0 auto;
    }
    .section-heading {
        left: 5rem;
    }
    .about-me-text span {
        font-size: 5rem;
        color: #ccc;
    }
    .service-btn {
        height: 9rem;
    }
    .service-btn span {
        font-size: 6rem;
    }
    .service-text {
        font-size: 3.3rem;
    }
}

@media(max-width: 700px) {
    html {
        font-size: 50%;
    }
    .contact-form-input {
        width: 50rem;
    }
}

@media(max-width: 520px) {
    html {
        font-size: 40%;
    }
    .main-circle img {
        width: 180%;
        height: 180%;
    }
    .service-btn {
        font-size: 4.3rem;
    }
    .service-text {
        font-size: 2.6rem;
        color: aliceblue;
    }
    .contact-form-input {
        width: 40rem;
    }
    .slideshow {
        width: 40rem;
    }
    .slideshow-link img {
        padding: 0 1.1rem;
    }
}

@media(max-width: 420px) {
    html {
        font-size: 33%;
    }
    .navbar {
        justify-content: center;
        padding: 0;
    }
    .main-circle {
        width: 35rem;
    }
    .main-circle:hover {
        width: 40rem;
    }
    .main-circle img {
        width: 200%;
        height: 200%;
    }
    .form-heading {
        font-size: 5rem;
    }
}